/* ---- HEADER SECTION ---- */
.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    animation: header-movement both;
    animation-timeline: scroll();
    animation-range: 0vh 10vh;
    background: #fff;
    font-family: 'SF Pro Display'; src: url('./Fonts/SF-Pro-Display-Regular.woff2') format('woff2');
    font-weight: 400;
    transition: all 0.3s ease;
}

.navList {
    display: flex;
    text-decoration: none;
    margin-right: 135px;
}

.logo {
    margin-top: 0px;
    width: 160px;
    padding: 15px;
    position: relative;
}

.logoContainer {
    position: relative;
}

.navItem a {
    text-decoration: none;
}

.navItem {
    list-style: none;
    padding: 5px 12px;
    margin: 0 4px;
    font-size: 16px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.navItem:hover {
    background-color: #dedede;
    border-radius: 4px;
}

.login {
    margin-right: 20px;
    font-size: 18px;
}


/* --- LIGHT Y DARK MODE --- */
.evolveDarkMode {
    font-size: 50px;
    font-weight: 700;
    margin: 10px 20px;
    letter-spacing: 3px;
}

.evolveLightMode {
    font-size: 50px;
    font-weight: 700;
    margin: 10px 20px;
    letter-spacing: 3px;
}

.headerDarkMode {
    background-color: #1a1a1a;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.headerLightMode {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3 ease, color 0.3s ease;
}

.itemDarkMode {
    color: rgba(255,255,255,0.87);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.itemLightMode {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navItemDarkMode {
    transition: all 0.3s ease;
}

.navItemDarkMode:hover {
    background-color: #3a3a3a;
}

.navItemLightMode a {
    color: #000000;
}

.logDarkMode {
    background-color: #2a2a2a;
    text-decoration: none;
    padding: 6px 20px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.logDarkMode:hover {
    background-color: #3a3a3a;
}

.logDarkMode a {
    color: rgba(255,255,255,0.87);
    text-decoration: none;
}

.logLightMode {
    background-color: #f3f3f3;
    text-decoration: none;
    padding: 6px 20px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.logLightMode:hover {
    background-color: #dedede;
}

.logLightMode a {
    text-decoration: none;
    color: #000000;
}

/* ---- HEADER ANIMATION ----*/

@keyframes header-movement {
    from {
        padding: 5px;
    }
    to {
        padding: 0;
    }
}