.view { 
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav {
    display: flex;
}

.navList {
    display: flex;
}

.navItem1,
.navItem2 {
    list-style: none;
    padding: 5px 12px;
    margin: 0 4px;
    font-size: 18px;
    font-family: 'SF Pro Display';
}

/* Estado base */
.navItemBase {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 14px 6px 12px;
    border-radius: 4px;
    background-color: #fff;
    color: inherit;
    text-decoration: none;
    transition: background-color .8s ease, color .8s ease;
}

/* Icono heredado de fuente externa, no modularizable */
.material-symbols-outlined {
    background-color: #fff;
    border-radius: 4px;
    transition: background-color .8s ease, color .8s ease;
}

/* Suma (verde) */
.navItemSum .material-symbols-outlined {
    color: #6aa378;
}

.navItemSum {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: #f6f6f6;
}

.navItemSum:hover {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

/* Resta (rojo) */
.navItemRest .material-symbols-outlined {
    color: #ab6e6e;
}

.navItemRest {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navItemRest:hover {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    background: #f6f6f6;
}


/* --- LIGHT Y DARK MODE --- */
.lightMode {
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.darkModeDark {
    background-color: #2a2a2a;
    color: rgba(255,255,255,0.87);
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.darkModeLight {
    background-color: #1a1a1a;
    color: rgba(255,255,255,0.87);
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.darkModeDark:hover {
    background-color: #2a2a2a;
    box-shadow: 0px 1px 6px rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
}

.darkModeLight:hover {
    background-color: #2a2a2a;
    box-shadow: 0px 1px 6px rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
}