/* Tema general */

/* Botón '+' */
.button {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Grid item */
.gridItem {
    width: 200px;
    height: 120px;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- LIGHT Y DARK MODE --- */
.lightTheme { 
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
    min-height: 100vh;
}

.darkTheme {
    background-color: #1a1a1a;
    color: rgba(255,255,255,0.87);
    transition: background-color 0.3s ease, color 0.3s ease;
    min-height: 100vh;
}